---
permalink: /source.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Indic Keyboard source code</title>
  <meta http-equiv="refresh" content="0; url=https://github.com/smc/indic-keyboard">
  <link rel="canonical" href="https://github.com/smc/indic-keyboard">
</head>
<body>
  <p>The source code lives at <a href="https://github.com/smc/indic-keyboard">github.com/smc/indic-keyboard</a>.</p>
</body>
</html>
